{% extends 'webapp/base.html' %}

{% block content %}


    <h4>Welcome to the dashboard! {{user}}</h4>

<hr>

<a class="btn btn-primary btn-bg-primary btn-sm" href="{% url 'create-record' %}">
    Create a new record &nbsp; <i class="fa fa-plus-circle" aria-hidden="true"></i>
</a>

<br> <br>

<table class="table table-hover table-bordered">
    <thead class="table-primary">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Full Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Address</th>
        <th scope="col">City</th>
        <th scope="col">Province</th>
        <th scope="col">Country</th>
        <th scope="col">Joining Date</th>

        <th scope="col">View</th>
      </tr>
    </thead>
    <tbody>
        {% if records %}
            {% for r in records %}
            <tr>
                <td>{{r.id}}</td>
                <td>{{r.first_name|capfirst}} {{r.last_name|capfirst}}</td>
                <td>{{r.email}}</td>
                <td>{{r.phone}}</td>
                <td>{{r.address}}</td>
                <td>{{r.city}}</td>
                <td>{{r.province}}</td>
                <td>{{r.country}}</td>

                <td>{{r.creation_date}}</td>

                <td><a class="btn btn-success btn-sm" href="{% url 'view-record' r.id %}"><i class="fa fa-eye" aria-hidden="true"></a></td>
            </tr>

            {% endfor %}
      {% endif %}
</table>

        


{% endblock %}